{{>head}}
{{>navbar}}

<div class="container">
    <div class="row product-card">
        {{#each products}}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="#" class="card-img-top img-fluid" alt="product">
                <div class="card-body">
                    <a href="/product/{{this.id}}">
                        <h5 class="card-title">{{this.name}}</h5>
                        <p class="card-text">{{this.description}}</p>
                    </a>
                    <div class="text-end mb-2">
                        <a href="/product/:id" class="btn btn-warning">Detail</a>
                    </div>
                    <div class="text-end mb-2">
                        <a href="/edit/:id" class="btn btn-primary">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>